import zntrack

import mlipx

models = mlipx.Models()
RECIPE_MODELS = {{ models }}

{% if datapath %}
DATAPATH = "{{ datapath[0] }}"
{% endif %}

project = zntrack.Project()

with project.group("initialize"):
    data = mlipx.LoadDataFile(path=DATAPATH)
    trajectory = mlipx.NEBinterpolate(data=data.frames, n_images=5, mic=True)

for model_name in RECIPE_MODELS:
    model = models[model_name]
    with project.group(model_name):
        neb = mlipx.NEBs(
            data=trajectory.frames,
            model=model,
            relax=True,
            fmax=0.05,
        )

project.build()
